.priceInputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceInput {
    border: 2px solid var(--border-color);
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.priceInput span {
    position: absolute;
    right: 12px;
    color: var(--text-muted);
    font-size: 1.6rem;
}

.priceInput input {
    background-color: transparent;
    border: none;
    padding: 8px 56px 8px 8px;
    min-width: 0;
    width: 0;
    flex: 1;
    text-align: right;
    font-size: 1.6rem;
}

.priceInput:has(input:focus) {
    border-color: var(--accent-color);
}

.range {
    display: flex;
    align-items: center;
    height: 7px;
    background-color: rgb(173, 173, 173);
    border-radius: 20px;
    position: relative;
    margin: 0 12.5px;
}

.rangeProcess {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 20px;
}

.rangeDot {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0 0 2px rgb(117, 116, 116);
    z-index: 1;
    transform: translateX(-50%);
    cursor: pointer;
    touch-action: pan-y;
}

.rangeDot:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
