/* import font */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --primary-color: rgba(5, 7, 15, 1);
    --primary-hover: rgba(5, 7, 15, 0.7);

    --primary-text-color: #05070f;
    --secondary-text-color: #374151;
    --text-muted: #6b7280;

    --bg-color: #ffffff;
    --surface-color: #eef2f7;
    --surface-hover: #e5eaf2;

    --border-color: #dfe1e4;

    --accent-color: #2563eb;
    --accent-hover: #1d4ed8;

    --white: #ffffff;

    --header-height: 65px;
    font-family: "Inter", system-ui, sans-serif;
    font-size: 62.5%;

    interpolate-size: allow-keywords;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    color: var(--primary-text-color);
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
html {
    scroll-behavior: smooth;
}

input {
    border: none;
}
input:focus {
    outline: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}
i {
    display: flex;
}
b {
    font-weight: 700;
}
.text-center {
    text-align: center;
}

/* my */
.my-1 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.my-2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.my-3 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
/* mx */
.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.mx-1 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.mx-2 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.mx-3 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
/* mb */
.mb-1 {
    margin-bottom: 10px !important;
}
.mb-2 {
    margin-bottom: 20px !important;
}
.mb-3 {
    margin-bottom: 30px !important;
}
.mb-4 {
    margin-bottom: 40px !important;
}
/* me */
.me-1 {
    margin-right: 10px !important;
}
.me-2 {
    margin-right: 20px !important;
}
.me-3 {
    margin-right: 30px !important;
}
/* ms */
.ms-1 {
    margin-left: 10px !important;
}
.ms-2 {
    margin-left: 20px !important;
}
.ms-3 {
    margin-left: 30px !important;
}
/* ms */
.mt-1 {
    margin-top: 10px !important;
}
.mt-2 {
    margin-top: 20px !important;
}
.mt-3 {
    margin-top: 30px !important;
}
.button,
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    gap: 6px;
    border-radius: 23px;
    padding: 9px 28px;
    background-color: var(--accent-color);
    color: white;
}
.button--outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-text-color);
    background-color: var(--white);
}
.button--outline:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border-color: var(--accent-color);
}
.button:hover {
    background-color: var(--accent-hover);
}
.button i {
    font-size: 1.9rem;
}
.button span {
    font-size: 1.6rem;
}
.title {
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 42px;
}
.reveal {
    display: block;
    opacity: 0;
    transform: translateY(40px);
    transition:
        transform 0.6s ease,
        opacity 0.6s ease;
}

.reveal--show {
    opacity: 1;
    transform: translateY(0);
}
.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1800px;
    min-width: 375px;
}

/* Tablet */
@media (min-width: 740px) {
    .container {
        padding: 0 24px;
    }
}

/* PC */
@media (min-width: 1024px) {
    .container {
        padding: 0 32px;
    }
}
.main {
    padding-top: calc(var(--header-height));
    padding-bottom: 80px;
}
/* animation for summary */

details::details-content {
    block-size: 0;
    overflow: hidden;
    transition:
        block-size 0.4s ease,
        content-visibility 0.4s ease;
    transition-behavior: allow-discrete;
}
details[open]::details-content {
    block-size: auto;
}

/* breadcrumb */
.breadcrumb {
    display: flex;
    padding: 20px 0;
}
.breadcrumb a {
    color: var(--text-muted);
}
.breadcrumb a:hover {
    color: var(--accent-color);
}
