.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--bg-color);
    z-index: 10;
}
.boxShadow {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.12);
}
.logo {
    width: 70px;
    height: auto;
}
/* dropdown */
.dropdownWrap:hover .dropdown {
    display: block;
}
.dropdownWrap {
    position: relative;
}
.dropdownWrap::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    width: 130%;
    height: 15px;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    min-width: 230px;
    border-radius: 10px;
}

/* responsive */

@media (max-width: 740px) {
    .header {
        height: 55px;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.12);
    }
    .actionUser {
        display: none;
    }

    .search {
        display: none !important;
    }

    .nav {
        display: none !important;
    }
}
