.quantity {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.quantity:has(input:focus) {
    border-color: var(--accent-color);
}

.quantityBtn {
    padding: 10px 20px;
    font-size: 1.8rem;
}

.quantityBtn:hover {
    background-color: var(--surface-color);
}

.quantityInput {
    width: 65px;
    text-align: center;
}
